<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <label>gender:</label><%-arr[1]%>
    <label>subject:</label> <%-arr[2]-%>
    <label>university:</label> <%-arr[3]-%>
    <label>colleges:</label><%-arr[4]-%> 
    <label>course:</label> <%-arr[5]-%>
    <label>categories:</label> <%-arr[6]-%>
    <label>relations:</label> <%-arr[7]-%>
    <label>location:</label> <%-arr[8]-%>
    <label>result:</label> <%-arr[9]-%>
    <label>language:</label> <%-arr[10]-%>
</body>
</html>