<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
     <label>gender:</label><%-call[0]%>
    <label>subject:</label> <%-call[1]-%>
    <label>university:</label> <%-call[2]-%>
    <label>colleges:</label><%-call[3]-%> 
    <label>course:</label> <%-call[4]-%>
    <label>categories:</label> <%-call[5]-%>
    <label>relations:</label> <%-call[6]-%>
    <label>location:</label> <%-call[7]-%>
    <label>result:</label> <%-call[8]-%>
    <label>language:</label> <%-call[9]-%>
</body>
</html>