<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%if(order=='asc'){order='desc'}else{order='asc'}%>

    <table border="1">
        <tr style="color:black;font-size: 250%;text-align: center;">
           <td> <a href="/page?no=1&sort=id&order=<%=order%>">id</a>          </td>
           <td> <a href="/page?no=1&sort=first&order=<%=order%>">first</a></td>
           <td> <a href="/page?no=1&sort=last&order=<%=order%>">last</a></td>
           <td> <a href="/page?no=1&sort=email&order=<%=order%>">email</a></td>
           <td> <a href="/page?no=1&sort=coll&order=<%=order%>">coll</a></td>
           <td> <a href="/page?no=1&sort=number&order=<%=order%>">number</a></td>
            
           
        </tr>
        
         
            <% for(var i=0;i<data.length; i++) { %>
                <tr>
                    <td><%=data[i].id %></td>
                    <td><%=data[i].first %></td>
                    <td><%=data[i].last %></td>
                    <td><%=data[i].email %></td>
                    <td><%=data[i].coll %></td>
                    <td><%=data[i].number%></td>
                </tr>
  
           <% } %>
            
        
       
    </table>
    <%if(order=='asc'){order='desc'}else{order='asc'}%>
    <% for(var i=1;i<=jk;i++){%>

        <% if (i==(no)){ %>
            <div class='pqr'><a href="/page?no=<%=i%>&sort=<%=sort%>&order=<%=order%>"><%=i%></a></div>
    
        <%} else {%>
            
            <div class='pqr1'><a href="/page?no=<%=i%>&sort=<%=sort%>&order=<%=order%>"><%=i%></a></div>
        <%}%>
        
        <%}%>
    
       
    <style>
       .pqr{
            background-color: #A7727D;
            color: black;
            
            padding: 8px 8px;
            text-decoration: none;  
                    
            display: inline-block;       
       }
       .pqr1{
           
           background-color: #EDDBC7;
            color: white;
            border-radius: 5px;
            display: inline-block;
       }
        

        td {
              margin: 0 10%;
              padding: 2px;
              border: 1px solid   #FFD39A;
              background-color: #EEEEEE;
              text-align: center;

            }
        
        </style>
</body> 

</html>